.submenu-item {
  width: 90%;
  background: #f9fafc;
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 10px;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}
.submenu-item:hover {
  background: #e8e8e8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transform: translateX(5px);
}


@media (max-width: 768px) {
  .submenu-item {
    font-size: 8px;
    text-align: center;
    width: 78%;
    margin: 3px auto;
    padding: 4px;
  }
}
