
.sidebar {
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #f1f1f1;
  color: #000;
  padding-top: 20px;
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar ul li {
  position: relative;
  width: calc(100% - 40px);
  margin: 6px auto;
  padding: 10px 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #222;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.sidebar ul li svg {
  font-size: 18px;
  color: #111;
}


@media (max-width: 768px) {
  .sidebar {
    width: 180px;
  }

  .sidebar ul li {
    font-size: 14px;
    width: calc(100% - 28px);
    padding: 8px 12px;
  }
}


.submenu {
  list-style: none;
  padding: 8px 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu li {
  background: #f3f3f3;
  width: 80%;
  text-align: center;
  padding: 8px 0;
  margin: 5px 0;
  border-radius: 8px;
  color: #333;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.submenu li:hover {
  background-color: #e8e8e8;
  transform: scale(1.03);
}
